<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName %>
  </div>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :typeOfWork %>
    <%= form.text_field :typeOfWork %>
  </div>

  <div class="field">
    <%= form.label :fatCategory %>
    <%= form.text_field :fatCategory %>
  </div>

  <div class="field">
    <%= form.label :orientation %>
    <%= form.text_field :orientation %>
  </div>

  <div class="field">
    <%= form.label :religion %>
    <%= form.text_field :religion %>
  </div>

  <div class="field">
    <%= form.label :ethnicity %>
    <%= form.text_field :ethnicity %>
  </div>
  
  
  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, direct_upload: true %>
  </div>
  
  <br/>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
