<div class="filter-form">
  <div class="box" onClick="toggleFilters()">
    <h4>Filter profiles</h4>
    <i class="fas fa-chevron-down"></i>
  </div>
  
  <div id="filter-form-content">
    <%= form_tag(filter_profiles_path) do %>
    <%= select_tag 'location', options_for_select(Profile.locations.keys.to_a.collect{ |k| [k.humanize, k] }), include_blank: "Select Location" %>
    <%= select_tag 'typeOfWork', options_for_select(Profile.typeOfWorks.keys.to_a.collect{ |k| [k.humanize, k] }), include_blank: "Select Type of Work" %>
    <%= select_tag 'fatCategory', options_for_select(Profile.fatCategories.keys.to_a.collect{ |k| [k.humanize, k] }), include_blank: "Select Fat Category" %>
    <%= select_tag 'orientation', options_for_select(Profile.orientations.keys.to_a.collect{ |k| [k.humanize, k] }), include_blank: "Select Orientation" %>
    <%= select_tag 'religion', options_for_select(Profile.religions.keys.to_a.collect{ |k| [k.humanize, k] }), include_blank: "Select Religion" %>
    <%= select_tag 'ethnicity', options_for_select(Profile.ethnicities.keys.to_a.collect{ |k| [k.humanize, k] }), include_blank: "Select Ethnicity" %>
    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
    <% end %>
  </div>
</div>

<div class="hero-full-wrapper">
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    
    <% if @profiles.size == 0 %>
      <h3>No result</h3>
    <% end %>
    
    <% @profiles.each do |profile| %>
      <% if profile.active %>

      <div class="grid-item">
        <%= image_tag profile.picture, :class => "img-responsive profile-img" %>
        <a href="<%= profile.website %>" class="project-description" target="_blank">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3><%= profile.firstName + ' ' + profile.lastName %></h3>
              <p class="profile-info"><%= profile.location.humanize if profile.location %></p>
              <p class="profile-info"><%= profile.typeOfWork.humanize if profile.typeOfWork %></p>
              <p class="profile-info"><%= profile.fatCategory.humanize if profile.fatCategory %></p>
              <p class="profile-info"><%= profile.orientation.humanize if profile.orientation %></p>
              <p class="profile-info"><%= profile.religion.humanize if profile.religion %></p>
              <p class="profile-info"><%= profile.ethnicity.humanize if profile.ethnicity %></p>
            </div>
          </div>
        </a>
      </div>
      
      <% end %>
    <% end %>
    
  </div>
</div>
