<p id="notice"><%= notice %></p>

<h1>Fat creators</h1>

<div class="hero-full-wrapper">
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    
    <% @profiles.each do |profile| %>
      <% if profile.active %>

      <div class="grid-item">
        <%= image_tag profile.picture, :class => "img-responsive" %>
        <a href="<%= profile.website %>" class="project-description" target="_blank">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3><%= profile.firstName + '' + profile.lastName %></h3>
              <p class="profile-info"><%= profile.location %></p>
            </div>
          </div>
        </a>
      </div>
      
      <% end %>
    <% end %>
    
  </div>
</div>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
