<div class="form-content">
  
  <% if user_signed_in? && !current_user.profile.active %>
  <div class="awaiting-activation">
    <p class="alert alert-info">Your profile is under review and will be activated soon</p>
  </div>
  <% end %>
  
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  
  <br/>
  <% resource.profile %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.fields_for :profile do |profile_form| %>
  <div class="field">
    <%= profile_form.label :firstName %><br />
    <%= profile_form.text_field :firstName %>
  </div>

  <div class="field">
      <%= profile_form.label :lastName %><br/>
      <%= profile_form.text_field :lastName %>
    </div>
    
    <div class="field">
      <%= profile_form.label :website, 'Website or social media url ex: https://bla.com'  %><br/>
      <%= profile_form.text_field :website %>
    </div>
    
    <div class="field">
      <%= profile_form.label :location %><br/>
      <%= profile_form.select(:location, Profile.locations.keys.to_a, :prompt => 'Select Location', class: 'form-control form-control m-b') %>
    </div>
    
    <div class="field">
      <%= profile_form.label :picture, 'Image representing your work' %><br />
      <%= profile_form.file_field :picture, direct_upload: true %>
    </div>
    
    <br/>
    <h4>Optional</h4>
    
    <div class="field">
      <%= profile_form.label :typeOfWork, 'Type of Work' %><br/>
      <%= profile_form.select(:typeOfWork, Profile.typeOfWorks.keys.to_a, :prompt => 'Select Type of Work', class: 'form-control form-control m-b') %>
    </div>
    
    <div class="field">
      <%= profile_form.label :fatCategory, 'Fat Category' %><br/>
      <%= profile_form.select(:fatCategory, Profile.fatCategories.keys.to_a, :prompt => 'Select Fat Category', class: 'form-control form-control m-b') %>
    </div>
    
    <div class="field">
        <%= profile_form.label :orientation, 'Orientation' %><br/>
        <%= profile_form.select(:orientation, Profile.orientations.keys.to_a, :prompt => 'Select Orientation', class: 'form-control form-control m-b') %>
    </div>
    
    <div class="field">
      <%= profile_form.label :religion, 'Religion' %><br/>
      <%= profile_form.select(:religion, Profile.religions.keys.to_a, :prompt => 'Select Religion', class: 'form-control form-control m-b') %>
    </div>
    
    <div class="field">
      <%= profile_form.label :ethnicity %><br/>
      <%= profile_form.select(:ethnicity, Profile.ethnicities.keys.to_a, :prompt => 'Select Ethnicity', class: 'form-control form-control m-b') %>
    </div>

    <br />
  <% end %>

  <div class="field">
    <%= f.label :current_password, class: 'bold' %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %><br />
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  <% end %>

  <h3>Delete my account</h3>

  <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>
